.container {
  background-color: rgb(237, 228, 228);
  border: 1px solid #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 250px;
  height: 300px;
}
p {
  grid-row: 1/2;
  font-size: 16px;
  margin: 9px 12px;
}
.input {
  grid-row: 2/3;
  font-size: 16px;
  width: 180px;
  height: 15px;
  border: 1px solid #837e7e;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  margin: 15px auto;
}
.input:focus {
  border: 1px solid lightblue;
}
.buttons {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.button {
  border: 1px solid #837e7e;
  border-radius: 5px;
  color: #000;
  padding: 6px 10px;
  margin: auto 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ff4500;
  color: white;
}
